<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookmarkData</key>
		<data>
		Ym9va5AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAgAMAAAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNuYWthbm8ABwAAAAEB
		AABMaWJyYXJ5ABAAAAABAQAATW9iaWxlIERvY3VtZW50cxMAAAABAQAAY29t
		fmFwcGxlfkNsb3VkRG9jcwALAAAAAQEAADRfMTJfNC5iYW5kABgAAAABBgAA
		BAAAABQAAAAkAAAANAAAAEwAAABoAAAACAAAAAQDAADNYgAAAAAAAAgAAAAE
		AwAA2YcAAAAAAAAIAAAABAMAAOCHAAAAAAAACAAAAAQDAAB7rgAAAAAAAAgA
		AAAEAwAAWsYAAAAAAAAIAAAABAMAABRAwwAAAAAAGAAAAAEGAACcAAAArAAA
		ALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEHE8wbcy/P4GAAAAAECAAACAAAA
		AAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vCAAAAAEBAABV
		bnRpdGxlZAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHEhebagAAAJAAAAAEB
		AABDNEI5MjMwMC0xRjBFLTQxOUUtQUYzQy00OTc1NEM4N0VDRTEYAAAAAQIA
		AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
		GgAAAAEBAABOU1VSTERvY3VtZW50SWRlbnRpZmllcktleQAABAAAAAMDAACd
		HgAACAAAAAAEAABBxPMG3Mv/oEcAAAABAQAAL1VzZXJzL3NuYWthbm8vTGli
		cmFyeS9Nb2JpbGUgRG9jdW1lbnRzL2NvbX5hcHBsZX5DbG91ZERvY3MvNF8x
		Ml80LmJhbmQA+QAAAAECAABkMGQ2MjhmMzMwOGMyZGU2NjM5NmM2NWYzZTZm
		NmY1YjRiYTU5ODc1YzFlYmMxNjIxZmZlMTdhODlhNTI4MTdiOzAwOzAwMDAw
		MDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFw
		cGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMGU7MDAwMDAw
		MDAwMGMzNDAxNDswMTsvdXNlcnMvc25ha2Fuby9saWJyYXJ5L21vYmlsZSBk
		b2N1bWVudHMvY29tfmFwcGxlfmNsb3VkZG9jcy80XzEyXzQuYmFuZAAAAADY
		AAAA/v///wEAAAAAAAAAEQAAAAQQAAB8AAAAAAAAAAUQAAD8AAAAAAAAABAQ
		AAAsAQAAAAAAACAQAABoAAAAAAAAAEAQAAAcAQAAAAAAAEIQAAAcAgAAAAAA
		AAIgAADYAQAAAAAAAAUgAABMAQAAAAAAABAgAABcAQAAAAAAABEgAACMAQAA
		AAAAABIgAABsAQAAAAAAABMgAAB8AQAAAAAAACAgAAC4AQAAAAAAADAgAADk
		AQAAAAAAAIDwAAB8AgAAAAAAAAD/AAAsAgAAAAAAAOwBAIAQAgAAAAAAAA==
		</data>
		<key>date</key>
		<string>2023-04-11 21:50:53 +0000</string>
		<key>unique-id</key>
		<string>547B8F10-700C-415A-89E7-10C45787AF83</string>
	</dict>
</array>
</plist>
